.header {
  padding: 30px;
  display: flex;
}

.header-left,
.header-right {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.header-upload-link {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1.09px;
  line-height: 1.1666666667;
  text-decoration: none;
  text-transform: uppercase;
}

/* Unpload Link */
.header-upload-link::after {
  background-color: #fff;
  display: block;
  content: "";
  margin-top: 4px;
  height: 1px;
  width: 100%;
}
